* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #D4EFF2, #F2F7FA, #B4DBF6, #FFFFFF, #DCEFFC );
}

h1 {
  text-align: center;
  margin: 10px 0;
}

.table {
  margin: 30px auto;
  width: 50%;
  box-shadow: 0 0 5px black;
  background-color: white;
  opacity: 0.8;
}

table tr td , table tr th {
  width: 33%;
  text-align: center;
  padding: 2px 0;
}
/* 
thead {
  font-size: 20px;
} */

