*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/Imagens/fundo-do-mar.jpg);
}
header{
    background-color: rgb(200, 200, 200, 0.8);
    padding-bottom: 15px;
}

#title{
    text-align: center;
    font-size: 60px;
    padding: 30px;
}

#list-header{
    padding: 5px 0;
    background-color: rgba(0, 0, 0);
    margin: 0 5%;
    text-align: center;
}

header li{
    list-style: none;
    color: #fff;
    font-size: 17px;
    border-right: 2px solid #aaa;
    border-left: 2px solid #aaa;
    display: inline-block;
    padding: 2px 50px;
}

#conteudo{
    border-radius: 5px;
    width: 60%;
    padding: 15px;
    margin: 80px 0 0 15%;
    background-color: rgb(255, 255, 255, 0.7);
    float: left;
}

#conteudo-e-aside{
    border: 2px solid green;
    height: 2100px;
}

#conteudo-title{
    text-align: center;
    font-size: 50px;
    margin: 30px 0 40px 0;
}

.subtitle{
    font-size: 30px;
    margin: 30px 0 10px 0;
}

#section-list{
    margin-left: 40px;
    
}

.paragrafo-section{
    text-align: justify;
    margin: 0 15px;
    font-size: 18px;
    line-height: 25px;
    font-size: 18px;
}

#aside{
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 80px 2% 0 0;
    padding: 20px;
    float: right;
}

aside li{
    margin-left: 25px;
    line-height: 30px;
}