:root {
  --cinza-claro: rgb(225, 229, 235);
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  --cinza3: rgb(30, 31, 36);
  --cinza4: rgb(26, 27, 28);
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 10px;
  align-items: center;
}

.more-info {
  font-family: 'Fuzzy Bubbles', cursive;
  text-decoration: none;
  font-size: 18px;
  color: #B3DCE9;
  background-color: var(--cinza3);
  box-shadow: 0 0 4px white;
  border-radius: 4px;
  padding: 6px 24px;
  margin: 8px 0 16px 0;
}

.more-info:hover {
  transition: 1s;
  transform: scale(1.2);
}

.pokedex-buttons-panel {
  display: flex;
  flex-direction: row;
}

.pokedex-button {
  font-family: 'Acme', sans-serif;
  width: 100px;
  height: 50px;
  background-color: green;
  box-shadow: 0 0 4px white;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
}

.filter-button {
  font-family: 'Acme', sans-serif;
  color: black;
  border: none;
  border-radius: 4px;
  padding:  6px 0;
  box-shadow: 0 0 4px white;
  width: 100px;
  margin: 10px;
}

.filter-button:enabled:hover , .pokedex-button:enabled:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.pokedex-button:disabled {
  color: #808080;
  background-color: #D0D0D0;
}

.All {
  color: white;
  background-color: var(--cinza1);
}

.Normal {
  background-color: #a4acaf;
}

.Fire {
 background-color: #fd7d24;
}

.Water {
  background-color: #4592c4;
}

.Grass {
  background-color: #9bcc50;
}

.Flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.Fighting {
  background-color: #d56723;
}

.Poison {
  background-color: #b97fc9;
}

.Electric {
  background-color: #eed535;
}

.Ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.Rock {
  background-color: #a38c21;
}

.Psychic {
  background-color: #f366b9;
}

.Ice {
  background-color: #51c4e7;
}

.Bug {
  background-color: #729f3f;
}

.Ghost {
  background-color: #7b62a3;
}

.Steel {
  background-color: #9eb7b8;
}

.Dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.Dark {
  background-color: #707070;
}

.Fairy {
  background-color: #fdb9e9;
}